{
  "format_version": 1,
  "type": "Coverity configuration",
  "settings": {
    "server": {
      "host": "jcroall-git.thirteen69.com",
      "port": 8081,
      "ssl": false
    },
    "stream": "insecure-bank-io"
  }
}
